.c-item {
    height: 400px;

}

.container {
    height: 100%;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
    background-attachment: fixed;

}

.c-overview {
    height: 150px;
}

.nav-item {
    transition: all 0.2s ease-in-out;
}

.nav-item:hover {
    text-shadow: 0px 0px 10px #fff,
        0px 0px 20px #fff,
        0px 0px 40px #fff,
        0px 0px 80px #fff,
        0px 0px 120px #fff;
}

.carousel-caption{
    transition: all 0.4s ease-in-out;
}

.carousel-caption:hover{
    backdrop-filter: blur(6px);
    border-radius: 25px;
}