{% extends "adminbase.html.twig" %} 

{% block title %}Admin Categories{% endblock %}

{% block admin_content%}
<div class="container">
    <h1 class="h2 mb-4 dash-title">Categories Overview</h1>
</div>


{% endblock %}