{% extends "base.html.twig" %}

{% block title %}
Lost and Found Forum
{% endblock %}

{% block content %}
<div class="container bg-body-tertiary py-3">
    <h1>This is the Link tab</h1>
</div>
{% endblock %}